@import "tailwindcss";

@layer base {
  :root {
    @apply bg-white;
  }
  input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%2318181b' stroke-width='3'><path d='M18 6L6 18M6 6l12 12'/></svg>")
      center/contain no-repeat;
    cursor: pointer;
  }
}